<div class="row">
    <div class="col-xs-12">
        <button (click)="onNewRecipe()" class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <!-- jak poniżej, tak również możemy przekazywać index dla routera (bez angażowania recipe-item) -->
        <!-- <app-recipe-item [routerLink]="['/recipes', i]" *ngFor="let recipeIndex of recipes; let i = index " [recipe]="recipeIndex"></app-recipe-item>  -->
        <app-recipe-item *ngFor="let recipeIndex of recipes; let i = index " [recipe]="recipeIndex" [index]="i"></app-recipe-item>
    </div>
</div>
