<div class="container">
        <div class="row">
            <div class="col-xs-12">
                <button
                    class="btn btn-primary"
                    (click)="onButtonClick()"
                >Display Details
                </button>
                <p *ngIf="!display">Secret password</p>
                <p *ngFor="let item of click; let i = index"
                    [ngClass]="{'logs': i >= 5}"
                    [ngStyle]="{backgroundColor: i >= 5 ? 'blue' : white}">
                    {{ click[i] }}
                </p>
                <p>{{ cout }}</p>
            </div>
        </div>
    </div>
    