<div class="row">
  <div class="col-md-12">
    <button class="btn btn-primary" (click)="onGameStart()">Start game</button>
    <button class="btn btn-warning" (click)="onGameStop()">Stop game</button>
  </div>
</div>
