<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div>
          <span class="help-block" *ngIf="!f.valid && f.touched">Form is invalid</span>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" ngModel email required #em="ngModel">
            <span class="help-block" *ngIf="!em.valid && em.touched">Email is invalid</span>
          </div>
          <div class="form-group">
            <label for="subs">Subscription</label>
            <select name="subs" id="subs" class="form-control" [ngModel]="subOption">
              <option value="1">Basic</option>
              <option value="2">Advanced</option>
              <option value="3">Pro</option>
            </select>
          </div>
          <div class="form-group">
            <label for="pass">Password</label>
            <input type="password" name="pass" class="form-control" ngModel required #password="ngModel">
            <span class="help-block" *ngIf="!password.valid && password.touched">Password shoud not be empty</span>
          </div>
        </div>
        <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
      </form>
    </div>
  </div>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>Email: {{user.email}}</p>
      <p>Sub: {{user.subs}}</p>
      <p>Password: {{user.pass}}</p>
    </div>
  </div>
</div>
