<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I'm in the AppComponent</h3>
            <hr>
            <!-- <app-warning-alert></app-warning-alert>
            <app-success-alert></app-success-alert> -->
            <app-servers></app-servers>            
            <!-- <app-directives-ex3></app-directives-ex3> -->
            <!-- <div app-servers></div> component as attribute-->
            <!-- <div class="app-servers"></div> component as class name-->
        </div>
    </div>
</div>
