<h4>Welcome to Server Manager 4.0</h4>
<p>Manage your Servers and Users.</p>
<button (click)="onLoadServer(1)" class="btn btn-primary">Load Server 1</button>
<button (click)="onPromise()" class="btn btn-primary">Promise</button>
<button (click)="onLogin()" class="btn btn-default">Login</button>
<button (click)="onLogout()" class="btn btn-default">Logout</button>


