<div class="row">
    <div class="col-xs-12">
        <app-game-cotrnol (intervalFired)="onIntervalFired($event)" (fibonacciNum)="onFiboAdded($event)"></app-game-cotrnol>
        <!-- <app-fibonacci-number (fNum)="onFiboAdded($event)"></app-fibonacci-number> -->
    </div>   
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 alert-success">
            <app-odd *ngFor="let oddNum of oddNumbers" [number]="oddNum"></app-odd>
        </div>
        <div class="col-xs-4 alert-danger">
            <app-even *ngFor="let evenNum of evenNumber" [number]="evenNum"></app-even>
        </div>
        <div class="col-xs-4 alert-danger">
            <app-fibonacci-print *ngFor="let fibNum of fibNumber" [fibNum]="fibNum"></app-fibonacci-print>
        </div>          
    </div>
</div>
