<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item" 
            *ngFor="let odd of oddNumbers" 
            [ngClass]="{odd: odd % 2 !== 0}"
            [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}">{{odd}}
          </li>
        </div>
        <!-- <div *ngIf="!onlyOdd">
          <li
            class="list-group-item" 
            *ngFor="let even of evenNumbers" 
            [ngClass]="{odd: even % 2 !== 0}"
            [ngStyle]="{backgroundColor: even % 2 === 0 ? 'green' : 'transparent'}">{{even}}
          </li>
        </div>
        <ng-template [ngIf]="!onlyOdd">
          <div>
            <li
              class="list-group-item" 
              *ngFor="let even of evenNumbers" 
              [ngClass]="{odd: even % 2 !== 0}"
              [ngStyle]="{backgroundColor: even % 2 === 0 ? 'green' : 'transparent'}">{{even}}
            </li>
          </div>
        </ng-template> -->
        <div *appUnless="onlyOdd">
          <li
            class="list-group-item" 
            *ngFor="let even of evenNumbers" 
            [ngClass]="{odd: even % 2 !== 0}"
            [ngStyle]="{backgroundColor: even % 2 === 0 ? 'green' : 'transparent'}">{{even}}
          </li>
        </div>
      </ul>
      <p appBasicHighLight>Directive Basic Style</p>
      <p appBetterHighlight defaultColor="red" [customColor]="'black'">Directive Better Style</p>
      <div [ngSwitch]="switchValue">
        <p *ngSwitchCase="3">Value 3</p>
        <p *ngSwitchCase="10">Value 10</p>
        <p *ngSwitchCase="15">Value 15</p>
        <p *ngSwitchDefault>Value default</p>
      </div>
    </div>
  </div>
</div>
