<app-game-control (timer)="onButtonClick($event)"></app-game-control>
<app-even *ngFor="let even of evenNumbers" [even]="even"></app-even>
<app-odd *ngFor="let odd of oddNumbers" [odd]="odd"></app-odd>
