<label for="">Server name</label>
<!-- <input 
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"
> -->
<input 
    type="text"
    class="form-control"
    [(ngModel)]="serverName"
>
<!-- <p>{{ serverName }}</p> -->
<button 
    class="btn btn-primary" 
    [disabled]="!allowNewServer"
    (click)="onCreateServer()">Add Server
</button>
<!-- <p [innerText]="allowNewServer"></p> innerText jest tym samym co tekst, który wrzucamy między open/close tag -->
<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreate">Server was created. Server name is {{ serverName }}</p>
<!-- <ng-template #noServer>
    <p>No server was created</p>
</ng-template> -->
<!-- <p *ngIf="onServerChange()">Server name existing {{ serverName }}</p> -->
<app-server *ngFor="let item of servers"></app-server>