<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>

        <div class="collapse navbar-collapse">
            <!-- Line 3 - 7 could be replaced with that to show hamburger while collapse
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
	                <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
                </button>
                <a routerLink="/" class="navbar-brand">Recipe Book</a>
            </div>
            <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true"> -->
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a [routerLink]="['/recipes']">Recipes</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/shopping-list']">Shopping List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appMyDropdown>
                    <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;">Save Data</a></li>
                        <li><a style="cursor: pointer;">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
