<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-info" (click)="onFibonacci()">Fibonacci</button>
        <hr>
        <label>Fibonacci Length</label>
        <input type="number" class="form-control" #fibonContent>
    </div>
</div>