<div class="row">
    <div class="col-xs-12 btn-toolbar">
        <button class="btn btn-success" (click)="onStart()">Start</button>
        <button class="btn btn-danger" (click)="onStop()">Stop</button>
        <button class="btn btn-info" (click)="onFibonacciNumberStart()">Fibonacci Numbers</button>
    </div>
    <!-- <p>{{ count }}</p> -->
</div>
<div class="row">
    <div class="col-xs-2">
        <p *ngIf="!isFiboEmpty" class="alert alert-danger">Please fill input</p>
        <label>Numbers length</label>
        <input type="text" class="form-control" #fiboInput>
    </div>
</div>